body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(217, 19%, 24%);
    overflow-x: hidden;
    Family: [Manrope](https://fonts.google.com/specimen/Manrope)
    font-Weights: 800
}
.container{
    width: 35%;
    height: 40%;
    margin: 15% auto;
    background-color: hsl(217, 19%, 38%);
    border-radius: 5px;
    border: 1px solid red;
}
.inner-cont{
    margin: 30px;
    border: 1px solid green;
    background-color: white;
}
#pag{
    text-align: center;

}